/* 
#EB5E28
#252422
#403D39
#CCC5B9
#FFFCF2
#fffef9
*/

html, body {
    margin: 0;
    background-color: aliceblue;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

.container-fluid > .row,
.container-fluid > .row > .col{
    padding: 0;
    margin: 0;
}

.text-align {
    text-align: justify;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 246px auto 100px;
    height: 100%;
}

.header {
    display: block;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 100%;
}

.header-logo {
    padding: 0 i !important;
    font-size: 3rem;
    height: 190px;
    font-weight: 900;
    background-color: #a3d3d4;
    background: url('hider_background3.jpg');
    background-size: cover;
    background-position: center center;
}

.content {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    overflow-y: scroll;
    overflow-x: hidden;
}

.footer {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    background-color: #403D39;
    color: #FFFCF2;
}

.navbar {
    padding: 0.5rem;
    background-color: #CCC5B9;
    color: white;
}

.text-center {
    text-align: center;
}

.page-title {
    color: #EB5E28;
    text-align: center;
    padding: 0 2rem;
}

.button {
    transition: 0.2s;
    cursor: pointer;
    border: 0;
    padding: 2px 12px 0 12px;
    font-size: 1.4rem;
    margin-right: 0.5rem;
    height: 40px;
}

.button:focus {
    border: 0;
    outline: none;
}

.button-dark {
    background-color: #403D39;
    color: #fffef9;
}

.button-dark:hover {
    background-color: #252422;
}

.button-light {
    background-color: #FFFCF2;
    color: #252422;
}

.button-light:hover {
    background-color: fffef9;
}

.list > p {
    margin: 0;
}

#page-container {
    margin-top: 2rem;
}

.logo-container {
    height: 140px;
}